*{
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.nav-wrapper{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.nav-wrapper, #footer{
    background-color: #000033;
}

#footer-copyright{
    background-color: #010138;
}

#contact-info{
    color: #fcfcfc;
}  

#contact-info:hover{
    color: #fcfcfca6;
    transition: 0.5s;
}

#contact-info i{
    font-size: 20px;
}

#copyright-contact{
    color: #fcfcfc;
}

#copyright-contact:hover{
    color: #999898f1;
}

.redes-sociais li{
    vertical-align: top;
    display: inline;
    height: 100px;
}

.redes-sociais a{
    color: #fff;
    text-decoration: none;
}

.redes-sociais i{
    padding: 10px 14px;
    transition: 0.5s;
    background-color: transparent;
}

.redes-sociais i:hover{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.fa-facebook:hover{
    background-color: #3d5b99;
}

.fa-instagram:hover{
    background: #d6249ed7;
}

.fa-whatsapp:hover{
    background: rgb(47, 182, 13);
}

.fa-envelope-o:hover{
    background: rgb(212, 7, 7);
}